.dashboard-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2563EB;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 1rem;
}

.sign-in-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.sign-in-card {
  width: 45%;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.count {
  color: #1890ff;
  font-weight: bold;
}

.attendance-table-card {
  margin-bottom: 20px;
}

.table-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.attendance-chart-card {
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.chart-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
