.dashboard-container{
   width: 90%;
   margin-inline: auto;
   padding-top: 20px;
}

.input-section {
    margin: 15px auto;
    width: 90%;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
  }

  .dashboard-form{
    margin-top: 20px;
    background-color: whitesmoke;
    border: 1px solid #e5e7eb;
    width: 100%; 
    border-radius: 5px;
  }
  
  .input {
    width: 95%;
    padding: 15px 2.5%;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 14px;
    
  }
  
  .start-shift-btn {
    background-color: #2563eb;
    color: white;
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .start-shift-btn:disabled {
    background-color: #d1d5db;
    color: #9ca3af;
    cursor: not-allowed;
  }
  
  .sign-out-btn {
    background-color: #22c55e;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-out-btn:disabled {
    background-color: #d1d5db;
    color: #9ca3af;
    cursor: not-allowed;
  }
  
  .location-tracking {
    margin-top: 20px;
    font-size: 14px;
    color: #4b5563;
  }
  